@{
    ViewBag.Title = "Starch Web Service HMI";
}
<body>
    <div id="wrapper">
        @Html.Partial("_LayoutNavbar")
        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b class="panel-unit" align ="left "><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Preparation Line 1 Overview </b>
                                <div style="display: inline-block;">
                                    <button style="margin-left: 15px;" onclick="location.href='@Url.Action("PREP1Desanding", "Prep")'; return false;" type="button" class="btn btn-secondary"> Desanding </button>
                                    <button onclick="location.href='@Url.Action("PREP1Washer", "Prep")'; return false;" type="button" class="btn btn-secondary"> Washer </button>
                                    <button onclick="location.href='@Url.Action("PREP1Chopper", "Prep")'; return false;" type="button" class="btn btn-secondary"> Chopper </button>
                                    <button onclick="location.href='@Url.Action("PREP1Rasper", "Prep")'; return false;" type="button" class="btn btn-secondary"> Rasper </button>
                                </div>



                                </div>
                            <div class="panel-body">
                                <div>
                                    <object id="svg_prep1" data="/Content/PREP1/PREP1Overz.svg" type="image/svg+xml" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    
    <!-- /#wrapper -->

</body>
@using StarchServiceHMI.Models
<!-- jQuery -->
<script src="/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/js/plugins/morris/raphael.min.js"></script>
<script src="/js/plugins/morris/morris.min.js"></script>
<script src="/js/plugins/morris/morris-data.js"></script>
<script>
            $(window).load(function () {
                var height = $(window).height() - 50; // New height
                $("#page-wrapper").css("height", height);
            });

            $(window).resize(function () {
                var height = $(window).height() - 50; // New height
                $("#page-wrapper").css("height", height);
            });
</script>
<script>
        if (typeof (EventSource) !== "undefined") {
            var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 37).Tag_name)";
            var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
            source.onmessage = function (event) {
                console.log(typeof(event.data));
                document.getElementById("svg_prep1").contentDocument.getElementById("YieldPrep1").innerHTML = "Yield : " + parseFloat(event.data).toFixed(3);
            };
        } else {
            document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
        }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 38).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            console.log(event);
            document.getElementById("svg_prep1").contentDocument.getElementById("EMFPrep1").innerHTML = "EMF : " + parseFloat(event.data).toFixed(3);
        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 39).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            console.log(event);
            document.getElementById("svg_prep1").contentDocument.getElementById("MoistureL101").innerHTML = parseFloat(event.data).toFixed(3);
        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 40).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            console.log(event);
            document.getElementById("svg_prep1").contentDocument.getElementById("PerL101").innerHTML = parseFloat(event.data).toFixed(3);
        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 41).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            console.log(event);
            document.getElementById("svg_prep1").contentDocument.getElementById("MoistureL102").innerHTML = parseFloat(event.data).toFixed(3);
        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 42).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            console.log(event);
            document.getElementById("svg_prep1").contentDocument.getElementById("PerL102").innerHTML = parseFloat(event.data).toFixed(3);
        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 43).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            var elm = document.getElementById("svg_prep1").contentDocument.getElementById("pump1-light");
            //if (event.data !== isNaN(true))
            $(elm).css("fill", 'rgb(102, 102, 101)');
            console.log(event.data + "   ...")
            if (event.data == "True")
                $(elm).css("fill", "#39b339");
            else if (event.data == "False")
                $(elm).css("fill", "red");

        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }

    if (typeof (EventSource) !== "undefined") {
        var tagname = "?tag=" + "@(((List<TagConfig>)ViewData["TagConfigObject"]).Find(x => x.Id == 44).Tag_name)";
        var source = new EventSource('@Url.Action("Index", "Distributer")' + tagname);
        source.onmessage = function (event) {
            var elm = document.getElementById("svg_prep1").contentDocument.getElementById("pump2-light");
            //if (event.data !== isNaN(true))
            $(elm).css("fill", 'rgb(102, 102, 101)');
            console.log(event.data + "   ...")
            if (event.data == "True")
                $(elm).css("fill", "#39b339");
            else if (event.data == "False")
                $(elm).css("fill", "red");

        };
    } else {
        document.getElementById("Prep1").innerHTML = "Sorry, your browser does not support server-sent events...";
    }


</script>