@{
    ViewBag.Title = "Starch Web Service HMI";
}
<body>
    <div id="wrapper">
        @Html.Partial("_LayoutNavbar")
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b class="panel-unit" align="left "><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Preparation Line 2 Overview </b> 
                                <div style="display: inline-block;">
                                    <button style="margin-left: 15px;" onclick="location.href='@Url.Action("PREP2Desanding", "Prep")'; return false;" type="button" class="btn btn-secondary"> Desanding </button>
                                    <button onclick="location.href='@Url.Action("PREP2Washer", "Prep")'; return false;" type="button" class="btn btn-secondary"> Washer </button>
                                    <button onclick="location.href='@Url.Action("PREP2Chopper", "Prep")'; return false;" type="button" class="btn btn-secondary"> Chopper </button>
                                    <button onclick="location.href='@Url.Action("PREP2Rasper", "Prep")'; return false;" type="button" class="btn btn-secondary"> Rasper </button>
                                </div>



                                </div>
                            <div class="panel-body">
                                <div>
                                    <object data="/Content/PREP2/PREP2Overs.svg" type="image/svg+xml" />
                                </div>
                                
                            </div>
                            

                        </div>

                    <div class="panel-group">
                        gffgdfgghgf
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>